* {font-family: 'Bitter', serif; color: #ddd}

body {
	background: url("../img/background.jpg");
}

h2{font-size: 48px; margin-bottom: 0;}

div #conteudo{
    width: 80%;
	margin:0 auto;
	clear: both;
    height: auto;
}

#central {
	margin: 0 auto;
	height: 300px;
	clear: both;
	text-align: center;
	
}

#map {
	width: 45%; height: 100%; padding: 0;
	display: inline-block;
}

#pano {
	width: 1px;
	height: 100%;
	display: inline-block;
	background: url(../img/ajax_loader.gif) no-repeat center; background-size: 20%;
	background-color: #1c232d;
}

#controles-wrap {
	background: url(../img/controles-bg.png);
	position: absolute;
	width: 100%;
	bottom: -200px;
}
#controles {
	width: 860px;
	height: 130px;
	text-align: center;
	clear: both;
	margin: 20px auto;
}

	.controls {
		display: block;
		float: left;
		margin: 5px 30px 5px 10px;
	}
	.controls > div {
		margin-top: 10px;
	}


div #resultado{
    margin-top: 20px;
}

.button {
	background: url(../img/botao-bg.png) no-repeat;
	width: 90px;
	height: 25px;
	border: none;
	color: #222;
}

.imgResultados{
    padding-right: 10px;
    padding-bottom: 10px;
}

.text160{
    width: 160px;
    height: 19px;
    margin-right: 5px;
}

.text50{
    width: 50px;
}

.tdEspaco{
    width: 100px;
}

.nav-button {
	border: none;
	margin: 20px 10px 0; 
}
.nav-button:hover {
	cursor: pointer;
}

#play {
	background: url("../img/play.png");
	width: 22px;
	height: 25px;
}

#pause {
	background: url("../img/pause.png");
	width: 23px;
	height: 25px;
}

#prev {
	background: url("../img/anterior.png");
	width: 22px;
	height: 25px;
}

#next {
	background: url("../img/proximo.png");
	width: 22px;
	height: 25px;
}

#gerarImagens {
	/*background: url("../img/button-bg.png") repeat-x;*/
	background-color: #ccc;
	height: 25px;
	color: #222;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}